<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="csss/style.css">
    <link rel="stylesheet" href="csss/navs.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!-- header -->
    <header>
        <img src="/image/download.jpeg" alt="" class="logo">
        <nav class="navbar">
            <ul class="nav-elements">
                <li><a href="#" class="nav-link">Home</a></li>
                <li><a href="#" class="nav-link">About</a></li>
                <li><a href="#" class="nav-link">services</a></li>
                <li><a href="#" class="nav-link">contact us</a></li>
                <button class="dash-btn">dashboard</button>
            </ul>
        </nav>

        <div class="navbar-mobile-buttons">
            <div class="mobile-nav-icon open"><i class="fa fa-solid fa-bars"></i></div>
            <div class="mobile-nav-icon closed"><i class="fa fa-window-close" aria-hidden="true"></i></div>
        </div>
    </header>


    
</body>
</html>